venv
background.png
Masked.drawio
Masked.svg
CustomLCD.egg-info/dependency_links.txt
CustomLCD.egg-info/PKG-INFO
CustomLCD.egg-info/requires.txt
CustomLCD.egg-info/SOURCES.txt
CustomLCD.egg-info/top_level.txt
